.header{
    background-color: #19191a;
    padding: 4px 0;
    margin-top: 4px;
display: flex;

}

h2, img{
    color:white;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    
    position:inherit;
    bottom: 35px;
    margin-left: 10px;
}